<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Verify your registration at safari-zone"
    />
    <link rel="stylesheet" href="../login/base.css" />
    <link rel="stylesheet" href="../login/login.css" />
    <title>{{verification_title}}</title>
  </head>

  <body>
    <script type="module" src="../components/apply-theme.js"></script>
    <img
      id="background"
      alt="{{background_alt}}"
      class="fixed top-0 left-0 h-screen w-screen -z-10 object-cover hidden"
    />
    <script type="module" src="../components/background.js"></script>
    <noscript>
      <img
        src="/images/safari-zone-day.png"
        alt="{{background_alt}}"
        class="fixed top-0 left-0 h-screen w-screen -z-10 object-cover"
      />
      <style>
        [data-js] {
          display: none;
        }
      </style>
      <div class="flex justify-center items-center min-h-screen">
        <div
          class="flex flex-col justify-center items-center bg-amber-300/75 p-3 rounded-lg"
        >
          <img src="/icons/warning.svg" description="{{warning_alt}}" />
          <p>{{no_js_message}}</p>
        </div>
      </div>
    </noscript>
    <div
      data-js
      class="flex justify-center items-center min-h-screen dark:text-white p-2"
    >
      <div
        class="flex flex-col items-center w-full max-w-xl p-6 rounded-lg bg-gray-100/75 dark:bg-gray-700/75 animate-zoom-in transition-colors duration-500"
      >
        <h1
          class="text-xl font-extrabold mb-2 border-b border-gray-600 dark:border-gray-400 w-full text-center pb-2"
        >
          {{verification_headline}}
        </h1>
        <p id="message" class="p-4 rounded-lg"></p>
      </div>
    </div>
    <div data-js class="absolute top-0 right-0 p-3">
      <theme-switcher></theme-switcher>
    </div>
    <script>
      window.translations = {
        success: '{{verification_success}}',
        conflict: '{{verification_conflict}}',
        error: '{{verification_error}}',
        servererror: '{{verification_servererror}}',
        expired: '{{verification_expired}}',
        verifying: '{{verification_verifying}}',
      };
    </script>
    <script defer type="module" src="../components/theme-switcher.ts"></script>
    <script defer type="module" src="./verify.js"></script>
  </body>
</html>
