<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Catch your favorite Pokemon in a multiplayer online game!"
    />
    <link rel="stylesheet" href="../login/base.css" />
    <link rel="stylesheet" href="../login/login.css" />
    <title>{{signup_title}}</title>
  </head>

  <body>
    <script type="module" src="../components/apply-theme.js"></script>
    <img
      id="background"
      alt="{{background_alt}}"
      class="fixed top-0 left-0 h-screen w-screen -z-10 object-cover hidden"
    />
    <script type="module" src="../components/background.js"></script>
    <noscript>
      <img
        src="/images/safari-zone-day.png"
        alt="{{background_alt}}"
        class="fixed top-0 left-0 h-screen w-screen -z-10 object-cover"
      />
      <style>
        [data-js] {
          display: none;
        }
      </style>
      <div class="flex justify-center items-center min-h-screen">
        <div
          class="flex flex-col justify-center items-center bg-amber-300/75 p-3 rounded-lg"
        >
          <img src="/icons/warning.svg" description="{{warning_alt}}" />
          <p>{{no_js_message}}</p>
        </div>
      </div>
    </noscript>
    <div data-js class="flex justify-center items-center min-h-screen p-2">
      <div
        class="flex flex-col items-center p-6 rounded-lg bg-gray-100/75 dark:bg-gray-700/75 max-w-xl animate-zoom-in transition-colors duration-500"
      >
        <h1
          class="text-xl font-extrabold mb-2 dark:text-white border-b border-gray-600 dark:border-gray-400 w-full text-center pb-2"
        >
          {{signup_headline}}
        </h1>

        <form class="flex flex-col p-3 items-center gap-3">
          <!-- Email Input Field -->
          <div class="relative mt-3">
            <input
              id="email"
              type="email"
              required
              autocomplete="email"
              placeholder="{{email}}"
              class="peer py-1 px-0 placeholder:text-transparent border-b border-gray-500 dark:border-gray-300 w-full appearance-none bg-transparent focus:outline-none focus:border-sky-700 dark:focus:border-sky-400 dark:text-white"
            />
            <label
              for="email"
              class="absolute left-0 -translate-y-4 bg-transparent text-xs duration-100 ease-linear text-gray-700 dark:text-gray-300 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 dark:peer-placeholder-shown:text-gray-400 peer-focus:-translate-y-4 peer-focus:text-xs peer-focus:text-sky-700 dark:peer-focus:text-sky-400"
            >
              {{email}}</label
            >
          </div>
          <!-- Username Input Field -->
          <div class="relative mt-3">
            <input
              id="username"
              type="username"
              required
              autocomplete="username"
              placeholder="{{username}}"
              class="peer py-1 px-0 placeholder:text-transparent border-b border-gray-500 dark:border-gray-300 w-full appearance-none bg-transparent focus:outline-none focus:border-sky-700 dark:focus:border-sky-400 dark:text-white"
            />
            <label
              for="username"
              class="absolute left-0 -translate-y-4 bg-transparent text-xs duration-100 ease-linear text-gray-700 dark:text-gray-300 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 dark:peer-placeholder-shown:text-gray-400 peer-focus:-translate-y-4 peer-focus:text-xs peer-focus:text-sky-700 dark:peer-focus:text-sky-400"
            >
              {{username}}</label
            >
          </div>
          <!-- Password Input Field -->
          <div class="relative mt-3">
            <input
              id="password"
              type="password"
              required
              autocomplete="password"
              placeholder="{{password}}"
              class="peer py-1 px-0 placeholder:text-transparent border-b border-gray-500 dark:border-gray-300 w-full appearance-none bg-transparent focus:outline-none focus:border-sky-700 dark:focus:border-sky-400 dark:text-white"
            />
            <label
              for="password"
              class="absolute left-0 -translate-y-4 bg-transparent text-xs duration-100 ease-linear text-gray-700 dark:text-gray-300 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 dark:peer-placeholder-shown:text-gray-400 peer-focus:-translate-y-4 peer-focus:text-xs peer-focus:text-sky-700 dark:peer-focus:text-sky-400"
            >
              {{password}}</label
            >
          </div>
          <div class="flex flex-col items-center">
            <p
              id="success"
              class="h-0 m-0 overflow-hidden rounded-lg transition-all bg-green-400 dark:bg-green-600"
            >
              {{signup_success}}
            </p>
            <p
              id="error_ALREADY_EXISTS"
              class="h-0 m-0 overflow-hidden rounded-lg transition-all bg-yellow-400 dark:bg-yellow-600"
            >
              {{signup_conflict}}
            </p>
            <p
              id="error_DEFAULT"
              class="h-0 m-0 overflow-hidden rounded-lg transition-all bg-red-400 dark:bg-red-600"
            >
              {{signup_servererror}}
            </p>
          </div>
          <button
            class="px-4 py-2 rounded text-white bg-red-500 hover:bg-red-600 focus:bg-red-600 focus:outline-none disabled:bg-gray-300 disabled:dark:bg-gray-700"
          >
            <loading-indicator class="hidden"></loading-indicator>
            {{signup}}
          </button>
        </form>
        <p
          class="text-gray-500 dark:text-gray-400 border-t border-gray-600 dark:border-gray-400 w-full text-center pt-2"
        >
          {{existing_account_message}}
          <a
            href="/login/"
            class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline"
            >{{login}}</a
          >
        </p>
      </div>
    </div>
    <div data-js class="absolute top-0 right-0 p-3">
      <theme-switcher></theme-switcher>
    </div>
    <script defer type="module" src="../components/theme-switcher.ts"></script>
    <script defer type="module" src="./signup.ts"></script>
  </body>
</html>
