@tailwind components;
@tailwind utilities;

@config '../../tailwind.minimal.config.ts';

.andrena-button {
  background-image: url('/images/andrena-triangle.png');
  background-position: 0.5rem center;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  background-color: white;
  border: 1px solid #155a9f;
}

.github-button {
  background-image: url('/images/github-mark.svg');
  background-position: 0.5rem center;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  background-color: #fbfbfb;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}
