<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Catch your favorite Pokemon in a multiplayer online game!"
    />
    <title>Safari Zone</title>
    <link rel="stylesheet" href="./login/base.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>

  <body>
    <script src="./index.ts" type="module"></script>
    <script src="./components/theme-switcher.ts" type="module"></script>
    <noscript>
      <img
        src="/images/safari-zone-day.png"
        alt="{{background_alt}}"
        class="fixed top-0 left-0 h-screen w-screen -z-10 object-cover"
      />
      <div class="flex justify-center items-center min-h-screen">
        <div
          class="flex flex-col justify-center items-center bg-amber-300/75 p-3 rounded-lg"
        >
          <img src="/icons/warning.svg" description="{{warning_alt}}" />
          <p>{{no_js_message}}</p>
        </div>
      </div>
    </noscript>
  </body>
</html>
