@tailwind components;
@tailwind utilities;

@config '../tailwind.main.config.ts';

body {
  display: flex;
}

[motion='reduced'] * {
  animation: none !important;
  transition-duration: 0s !important;
  transition-delay: 0ms !important;
}

.pokedex-width {
  width: calc(12rem + var(--scrollbar-width));
}

@container (min-width: 19rem) and (max-width: 25.5rem) {
  .pokedex-width {
    width: calc(18rem + var(--scrollbar-width));
  }
}

@container (min-width: 25.5rem) and (max-width: 32rem) {
  .pokedex-width {
    width: calc(24rem + var(--scrollbar-width));
  }
}

@container (min-width: 32rem) and (max-width: 38.5rem) {
  .pokedex-width {
    width: calc(30rem + var(--scrollbar-width));
  }
}

@container (min-width: 38.5rem) and (max-width: 45rem) {
  .pokedex-width {
    width: calc(36rem + var(--scrollbar-width));
  }
}

@container (min-width: 45rem) {
  .pokedex-width {
    width: calc(42rem + var(--scrollbar-width));
  }
}

/* If you use this remember to set border-top-color as well!
*/
.speech-bubble-b::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 1rem solid transparent;
  border-bottom: 0;
  border-left: 0;
  transform: translate(-50%, 100%);
}

/* If you use this remember to set border-right-color as well!
*/
.speech-bubble-l::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  border: 1rem solid transparent;
  border-top: 0;
  border-left: 0;
  transform: translate(-100%, -50%);
}

.inline-container {
  container-type: inline-size;
}

.trainer-select-width {
  width: 12.5rem;
}

@container (min-width: 20rem) and (max-width: 27rem) {
  .trainer-select-width {
    width: 19rem;
  }
}

@container (min-width: 27rem) and (max-width: 34rem) {
  .trainer-select-width {
    width: 25.5rem;
  }
}

@container (min-width: 34rem) and (max-width: 41rem) {
  .trainer-select-width {
    width: 32rem;
  }
}

@container (min-width: 41rem) and (max-width: 48rem) {
  .trainer-select-width {
    width: 38.5rem;
  }
}

@container (min-width: 48rem) {
  .trainer-select-width {
    width: 45rem;
  }
}
